.main-body {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.main-body>a>div {
    height: 200px;
    width: 200px;
    margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.html {
    background-image: url(assets/image/html.webp);
}

.javascript {
    background-image: url(assets/image/js.webp);
}